#banner {
    /*a propriedade width modifica a largura e proporcionalmente a altura*/
    width: 100%;
}

.principal {
    background-color: #cccccc;

}

/*text-align alinha o texto*/
h1 {
    text-align:center;
}

p {
    text-align: center; 
 }

 /*font-size é o tamanho da fonte*/
 /*a # representa o id (identificador de css e só pode ser utilizado uma vez*/
 #missao { 
    font-size:20px;
 }

 /*será aplicado estilo em todas as tags strongs que estiverem dentro da tag em*/
 em strong {
    color: red;
 }

 .beneficios {
    background-color: white;
    /*espaçamento interno com a propriedade padding*/
    padding: 10px;
 }

 h2 {
    text-align: center;
 }


 /*nesse caso o font-style deixa o texto em italico, para fim de efeito visual ao inves de dar enfase*/
 .itens {
    font-style: italic;
 }

