/*adicionando background no body*/
body {
    background-color: #cccccc;
}

p {
    text-align: center;
     
 }

 /*será aplicado estilo em todas as tags strongs que estiverem dentro da tag em*/
 em strong {
    color: red;
 }